@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Orbitron";
  src: url(Orbitron-VariableFont_wght.ttf);
}

@theme{
  --color-primary: hsl(141, 73%, 42%);
  --color-primary-light: hsl(141, 73%, 56%);
  --color-primary-dark: hsl(141, 73%, 35%);
}

body{
  color: white;
  font-family: "Space Grotesk", Helvetica, sans-serif;
}
.button1{
  @apply  cursor-pointer text-black items-center gap-3 bg-gradient-to-br from-primary-light to-primary-dark px-6 py-2 rounded-lg font-semibold shadow-2xl
}
.button2{
  @apply  items-center gap-3 border border-slate-600 text-slate-200 px-5 py-2 rounded-lg font-medium hover:border-primary transition
}

h1,h2,h3,h4,h5,h6,.heading{
  font-family: "Orbitron", monospace;
}